/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.profile-card {
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 99%);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.profile-card:hover {
    transform: scale(1.05);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.header {
    padding: 40px 20px;
}

.foto-profil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
    transition: transform 0.3s, box-shadow 0.3s;
}

.profile-card:hover .foto-profil {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: #fff;
    margin-top: 10px;
}

.job-title {
    font-size: 16px;
    color: #eee;
}

.content {
    padding: 20px;
    text-align: left;
    background: #fff;
    border-radius: 0 0 15px 15px;
}

.content h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.content p {
    color: #555;
    margin: 5px 0;
}

.social-links {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
}

.icon-link {
    color: #4CAF50;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s, transform 0.3s;
}

.icon-link:hover {
    color: #ff6f61;
    transform: scale(1.2);
}
